body{
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    width: 100%;
    overflow: auto;
    /* add image */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%), url("../images/security2.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.left_section_content{
    margin: 5%;
    padding: 10%;
    border-radius: 5%;
    height: 400px;
    background-color: rgba(247, 243, 243, 0.2);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.left_section_content p{
    text-align: justify;
}

.left_section {
    float: left;
    width: 60%;
    /* background-color: blue; */
}
.joinus{
    text-decoration: none;
    color:white;
    background-color: #f44336;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}
.joinus:hover{
    color:#f44336;
    background-color: rgb(247, 241, 241);
    transition: color 0.8s ease-out;
    transition: background-color 0.8s ease-out;
}

.right_section{
    float: right;
    width: 40%;
    /* background-color: red; */
}
.form_wrapper{
    /* background-color: red; */
    margin: 5%;
    margin-left: 0%;
    margin-top:8%;
    padding: 10%;
    border-radius: 5%;
    height: 400px;
    /* background-color: rgba(247, 243, 243, 0.2   ); */
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.form_wrapper label{
    font-size: 30px;
}
.form_wrapper input{
    width: 90%;
    height: 20px;
    /* border: 1px solid white; */
    border-radius: 5px;
    padding:10px;
    margin: 10px 0px;
}
.form_wrapper input:hover{
    border: 2px solid #f44336;
}
.form_wrapper .login-button{
    font-size: 20px;
    margin: 10px 0px;
    font-family: 'Times New Roman', Times, serif;
    padding:5px;
    width: 30%;
    background-color: rgb(230, 227, 221);
    border-radius: 5px;
}
.form_wrapper .login-button:hover{
    background-color: #f44336;
    color: white;
}
.form_wrapper .forgot-password{
    float: right;
    font-size: 20px;
    margin: 17px 15px;
    text-decoration: none;
    color: white;
}
.form_wrapper .forgot-password:hover{
    color: #f44336;
}
.contact_mainlink{
    text-decoration: none;
    color:white;
}
.contact_mainlink:hover, .contact_us:hover{
    color: #f44336;
    background-color: rgb(247, 241, 241);
}
.contact_us{
    margin-top:20px;
    background-color: #f44336;
    padding: 5px 10px;
    border-radius: 5px;
}
.cleardiv {
    clear: both;
}