body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

table {
    width: 100%; 
    border-collapse: collapse; 
    border: 1px solid #000; 
    margin-top: 10px;
    margin-bottom: 10px;
    
}

table a {
    color: inherit; 
    text-decoration: underline; 
}

table a:hover {
    color: #184B81; 
    text-decoration: underline;
}

th, td {
    border: 1px solid #000; 
    padding: 8px; 
}

table td:first-child input[type="checkbox"] {
    margin: 0 auto; 
    display: block; 
}

button {
    font-weight: bold;
    color: #fff;
    border: none;
    background-color: #184B81;
    padding: 10px 25px;
    cursor: pointer;
}

button:hover {
    background-color: #279dd7;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 300px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

output {
    display: inline-block;
    padding: 5px;

}
/* ==================================================================
CHECK THE CREATED CLASSES BELOW BEFORE YOU CREATE A NEW ONE. 
DO NOT DELETE OR UPDATE THE CLASS
Please reuse the classes below by placing it in a div or span tags.
================================================================== */

/* buttons after a table are set to the right */
.right-button {
    text-align: right;
}

.right-button button {
    display: inline-block;
    margin-right: 10px; 
}

/* This is for the drop down menu list */
.select-box {
    width: 200px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}

/* For input fields that are read only, color it to grey to show that its not editable */
.readOnly input {
    background-color: #dadada; 

}

.readOnly textarea {
    background-color: #dadada; 
    width: 100%; 
    margin-top: 5px;
    margin-bottom: 10px;

}

/* creates a horizontal line for division purposes */
.horizontal-line {
    border-top: 1px solid #000; 
    margin: 10px 0; 
}

/* makes the text area's width same as the width of the page */
.labelAndTextarea textarea {
    width: 100%; 
    margin-top: 5px;
    margin-bottom: 10px;
}

/* for images  */
.image-link {
    width: 300px;
    height: 200px;
    display: inline-block; 
}

/* ==================================================================
Insert your new class/id below and write your name 
================================================================== */


/* ============ DISPATCHER > TASKS (KANBAN CSS) Starts =========*/
.kanban_wrapper{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.kanban_wrapper .col1, .kanban_wrapper .col2,
.kanban_wrapper .col3, .kanban_wrapper .col4,
.kanban_wrapper .col5{
    /* background-color: red; */
    margin:10px;
    border: 2px solid #184B81;
    height: 400px;
    border-radius: 5px;
    overflow: auto;
    overflow-x: hidden;
}

.kanban_wrapper .list{
    border: 1px solid #184B81;
    margin: 10px;
    background-color: #dadada;
    padding: 10px;
    display: flex;
    cursor: grab;
    border-radius: 5px;
}

.kanban_wrapper .listso{
    height: 140px;
    border: 1px solid #184B81;
    margin: 10px;
    background-color: #dadada;
    padding: 10px;
    display: flex;
    cursor: grab;
    border-radius: 5px;
}

.kanban_wrapper .list .information h4, .kanban_wrapper .list .information p{
    padding: 0px !important;
    margin: 5px 5px !important;
} 
.kanban_wrapper .list .information .taskId, 
.kanban_wrapper .list .information .date, 
.kanban_wrapper .list .information .taskName,
.kanban_wrapper .list .information .assignedTo {
    font-weight: bold;
}

.kanban_wrapper .title{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;  
    border: 2px solid #184B81;
    padding: 10px;
    border-radius: 5px;
    background-color: #184B81;
    color: #dadada;
} 

/* ============ DISPATCHER > TASKS (KANBAN CSS) Ends =========*/





/* ========== DISPATCHER > CALENDAR START ============= */

.calendar {
    max-width: 600px;
    margin: 0 auto;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#month-year {
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

.task-details {
    margin-top: 20px;
}

.task-details h2 {
    font-size: 20px;
}

td:hover {
    background-color: #e6e6e6; /* Change to your desired hover color */
}

td.selected {
    background-color: #184B81; /* Change to your desired selected background color */
    color: #fff; /* Change to your desired selected text color */
}

td a{
color: #184B81;
}

/* ============= DISPATCHER > CALENDAR END =============== */
 

.buttoggle{
    margin: 9px 9px 9px 9px;
}

.divtoggle {
    display: flex;
    justify-content: space-between;
}

.filterstatus {
    padding: 9px 9px 9px 9px;
}

select#filterdropdown {
    height: 100%;
}

form#taskForm {
    margin-top: 20px;
}

.inc-task {
    margin-bottom: 10px;
}

.inc-task label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

.inc-task input[type="text"],
textarea {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inc-inc-task {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.inc-inc-task button {
    margin-left: 89px;
    /* padding-bottom: 0px; */
    width: 75%;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 200px; /* Set the maximum height for the dropdown */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-left: 89px;
    /* padding-bottom: 0px; */
    width: 75%;
}

.dropdown-content input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown-content li:hover {
    background-color: #ddd;
}